$color-white: #ffffff;
$color-black: #000000;
$color-gray-dark: #3A3A3A;
$color-gray: #818181;
$color-gray-light: #D1D1D1;
$color-gray-white: #f5f5f5;
$color-blue: #397CBA;
$color-blue-dark: #102233;
$color-blue-black: #03070A;
$color-risk-7: #F44336;
$color-risk-6: #FF9800;
$color-risk-5: #FFEB3B;
$color-risk-4: #3F51B5;
$color-risk-3: #03A9F4;
$color-risk-2: #4CAF50;
$color-risk-1: #8BC34A;