$color-black: #000000;
$color-white: #ffffff;
$color-blue: #47D2E9;
$color-green: #53DF83;
$color-gray: #3F3F3F;
$color-gray-light: #EEEEEE;
$color-risk-7: #F44336;
$color-risk-6: #FF9800;
$color-risk-5: #FFEB3B;
$color-risk-4: #3F51B5;
$color-risk-3: #03A9F4;
$color-risk-2: #4CAF50;
$color-risk-1: #8BC34A;