body {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 16px;
}

h1,
.h1 {
    font-family: inherit;
    font-size: 24px;
    font-weight: 400;
    margin: 10px 0;
}

h2,
.h2 {
    font-family: inherit;
    font-size: 22px;
    font-weight: 400;
    margin: 8px 0;
}

h3,
.h3 {
    font-family: inherit;
    font-size: 18px;
    font-weight: 400;
    margin: 5px 0;
}

h4,
.h4 {
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    margin: 3px 0;
}

h5,
.h5 {
    font-family: inherit;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
}

h6,
.h6 {
    font-family: inherit;
    font-size: 14px;
    font-weight: 300;
    margin: 0;
}