.custom-range {
    $root: &;
    position: relative;
    display: block;
    width: 300px;
    margin: 5px 15px;
    padding: 10px 0;
    &:hover {
        cursor: pointer;
    }
    &.isActive {
        #{$root}__handle {
            box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.1);
            &:before {
                transform: scale(1);
            }
        }
    }
    &:not(.isActive) {
        #{$root}__handle {
            animation: impulse 0.5s 1 ease-out;
        }
    }
    &.isDisabled {
        &:hover {
            cursor: default;
        }
        #{$root}__handle {
            background-color: $color-gray-light;
        }
        #{$root}__bar-inner {
            background-color: $color-gray-light;
        }
    }
    &__bar {
        position: relative;
        will-change: left, transform;
        width: 100%;
        height: 5px;
        border: 1px solid $color-gray-light;
        background-color: transparent;
    }
    &__bar-inner {
        position: absolute;
        top: 0;
        left: 0;
        will-change: width;
        height: 100%;
        width: 0%;
        background-color: $color-blue;
    }
    &__handle {
        transition: box-shadow 250ms;
        position: absolute;
        top: 50%;
        left: 0;
        will-change: left, box-shadow;
        border: 1px solid rgba($color-gray, 0.3);
        background-color: $color-white;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0);
        pointer-events: none;
        &:before {
            transition: transform 150ms ease-in-out;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #f9f9f9;
            content: '';
            border-radius: 50%;
            transform: scale(0);
        }
    }
    @keyframes impulse {
        0% {
            box-shadow: 0 0 0 1px rgba($color-black, .1);
        }
        100% {
            box-shadow: 0 0 0 20px rgba($color-black, 0);
        }
    }
}