.fund-line {
    padding: 0 5px;
    margin: 0;
    border-left: 2px solid $color-black;
    display: block;
    &--risk-1 {
        border-color: $color-risk-1
    }
    &--risk-2 {
        border-color: $color-risk-2
    }
    &--risk-3 {
        border-color: $color-risk-3
    }
    &--risk-4 {
        border-color: $color-risk-4
    }
    &--risk-5 {
        border-color: $color-risk-5
    }
    &--risk-6 {
        border-color: $color-risk-6
    }
    &--risk-7 {
        border-color: $color-risk-7
    }
    &__header {}
    &__title {
        margin: 0;
    }
    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}