.funds-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    &__header {
        flex: 0 0 auto;
        padding: 20px 10px;
        background-color: $color-gray-white;
    }
    &__title {
        margin: 0;
    }
    &__content {
        flex: 1 1 auto;
        overflow: auto;
    }
    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
    }
}