.section {
    margin-top: 20px;
    &__header {
        padding: 5px 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $color-gray-light;
    }
    &__title {
        margin: 0;
        color: $color-gray;
        font-weight: 300;
    }
    &__count {
        color: $color-blue;
    }
    &__list {
        margin: 0;
        padding: 0 10px;
        list-style: none;
    }
    &__item {
        margin-top: 10px;
    }
}