.site-header {
    width: 100%;
    background-color: $color-gray-light;
    padding: 5px 0;
    &__inner {
        padding: 0 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1000px;
    }
    &__title {
        margin: 0;
        padding: 0;
        color: $color-gray;
    }
    &__subtitle {
        color: $color-blue;
    }
}