.wallet {
    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
    }
    &__title {
        flex: 1 1 auto;
        margin: 0;
    }
    &__header-actions {
        flex: 0 0 auto;
    }
    &__content {
        overflow: auto;
        padding: 10px;
    }
}