.wallet {
    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0 0 0;
    }
    &__title {
        flex: 1 1 auto;
        margin: 0;
    }
    &__header-actions {
        flex: 0 0 auto;
    }
    &__content {
        overflow: auto;
        padding-left: 20px;
    }
    &__date {
        font-size: 12px;
        margin-bottom: 10px;
    }

    &__funds {

    }

    &__funds-title {
        margin: 0;
        font-weight: 300;
        font-size: 18px;
    }

    &__funds-list {
        list-style: none;
        padding: 0;
    }

    &__fund {

    }
}